.events {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}

.event-card {
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.event-card h2 {
  color: #00a4b8;
  margin-bottom: 15px;
}

.event-card p {
  color: #555;
  margin: 8px 0;
}

.event-card button {
  margin: 5px 3px;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #00bcd4;
  color: white;
}

.event-card button:hover {
  background-color: #008fa1;
}

/* Section détails */
.details {
  width: 500px;
  max-width: 90%;
  margin: 30px auto;
  padding: 25px;
  background-color: #f5f5f5;
  border-left: 5px solid #00bcd4;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.details h2 {
  color: #00a4b8;
  margin-bottom: 20px;
}

.details p {
  font-size: 16px;
  margin: 10px 0;
  color: #444;
}
h1 {
  text-align: center;
  color: #00a4b8;
  font-size: 36px;
  margin: 30px 0;
  font-weight: bold;
}
